extends base

block message
  +message('Please login.')

block content
  form(method='post', action='/login')
    input(type='text', name='username', placeholder='Username')
    br
    input(type='password', name='password', placeholder='Password')
    br
    input(type='submit', value='Login')
