if !title
  - title = 'Change Password'

include common

+common
  form(method='post', action='/password')
    label Current password
    br
    input(type='password', name='current')
    br
    label New password
    br
    input(type='password', name='new1')
    br
    input(type='password', name='new2')
    br
    input(type='submit', value='Change')
  +back
